@charset "UTF-8";

/*em HTML é id e em CSS é #
    em HTML é class e em CSS é .*/
body{
    background-color: #cefccc;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(5, 43, 9);
}

h1#principal {
    text-align: center;
    background-color: #86C584;
    color: rgb(5, 43, 9);
}

h2 {
    color: #233623;
}
.basico { 
    color: #8FDC8C;
}
.intermediario {
    color: #73B171;
}
.avancado {
    color: #5D8F5B;
}
.destaque {
    background-color: rgba(47, 79, 49, 0.507);
}

