@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: medium;
}
h1 {
    text-align: center;
}
 h2 {
    color: brown;
    text-align: right;
 }
 p {
    text-align: justify;
    text-indent: 16px;
 }